@{
    ViewData["Title"] = "Home Page";
}
@model Shop.Models.ViewModels.HomeVM;

<head>
    <link href="~/css/layot.css" rel="stylesheet" />
    <link href="~/css/Colors.css" rel="stylesheet" />
</head>
<script type="text/javascript">
    var main_header = document.querySelector(".hiddenable");
    main_header.hidden = true;
</script>

<style>
    h1, h2,h3, h4,h5, h6, p {
        margin: 0;
    }
    .clickme:hover {
        border-bottom: 2px dashed white;
        text-decoration: none;
        color: white;
    }
    section {
        min-height: 105vh;
    }
    .gapping {
        gap: 1rem;
    }
    .form-check-label {
        white-space: nowrap;
    }
    .mls {
        margin-left: 40px;
    }
</style>

<div class="bs-dark overflow-hidden">
    <header class="head overflow-hidden d-flex align-items-center" style="z-index:1;">
        <div>
            @{
                Random rnd = new Random();
                var path = @"https://semantic-ui.com/images/backgrounds/" + rnd.Next(1, 16) + @".jpg";
                <img src="@path" class="back" alt="alternate text" />
            }
            <div class="opacity"></div>
            <nav class="navbar navbar-expand-lg navbar-dark navbarstick">
                <partial name="_header" />
            </nav>
        </div>
        <div class="w-100 text-center">
            @{ 
                List<string> titles = new List<string>()
                { "Future devices for you!", "Large catalog", "Web store for you!" };
                var titleIndex = rnd.Next(0, titles.Count);
                <h1 class="head-font txt-light" id="test">@titles[titleIndex]</h1>
                ViewData["Title"] = titles[titleIndex].ToString();
            }
            <p class="item-font txt-light mt-2 mb-3" style="font-size: 1.5rem">Next - More</p>
            <a href="#contentsection" class="txt-light head-font clickme" style="font-size: 1.3rem">Next</a>
        </div>
        <script type="text/javascript">
            window.addEventListener("scroll", function () {
                var header = document.querySelector(".navbarstick");
                header.classList.toggle("sticky", this.window.scrollY > 0);
            });
        </script>
    </header>

    <section id="contentsection">
        <div class="bs-dark-light1 pt-4 pb-4">
            <div class="container">
                <h2 class="txt-light item-font spacer"><i class="fas fa-filter txt-light"></i> Filter</h2>
            </div>
            <div class="container mt-4 d-flex txt-light item-font">
                <div>
                    <fieldset class="form-group d-flex">
                        <legend class="mt-4">Categories filters</legend>
                        <div class="container-fluid m-0">
                            <div class="row gapping">
                                <div class="form-check col-lg-2 col-md-3 col-sm-5">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input filter-btn" name="optionsRadios" id="optionsRadios1"
                                               data-filter="all" value="Filter all" checked>
                                        Filter all
                                    </label>
                                </div>
                                @foreach (var item in Model.Categories)
                                {
                                    <div class="form-check col-lg-2 col-md-3 col-sm-5">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input filter-btn" name="optionsRadios" id="optionsRadios1"
                                                   data-filter="@item.Name" value="@item.Name">
                                            @item.Name
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <br />
        <div class="mb-3 container d-flex pl-lg-5 pl-md-0">
            <div class="row d-flex gapping mls">
                @foreach (var item in Model.Products)
                {
                    <partial model="item" name="_productCard" />
                }
            </div>
        </div>
        <br />
    </section>
</div>





@section Scripts {
    <script>
        $(document).ready(function () {
            $(".filter-btn").click(function () {
                let value = $(this).attr('data-filter');
                if (value == "all") {
                    $(".filter").show("1000");
                }
                else {
                    $(".filter").not("." + value).hide("3000");
                    $(".filter").filter("." + value).show("3000");
                }
            })
        })
    </script>
}